[submodule "openclawbench"]
	path = openclawbench
	url = https://github.com/sequrity-ai/openclawbench.git
[submodule "agentdojo"]
	path = agentdojo
	url = https://github.com/sequrity-ai/agentdojo-benchmark.git
[submodule "cracker"]
	path = cracker
	url = https://github.com/sequrity-ai/cracker.git
