[submodule "openclaw-benchmark"]
	path = openclaw-benchmark
	url = https://github.com/sequrity-ai/openclaw-benchmark.git
[submodule "agentdojo"]
	path = agentdojo
	url = https://github.com/sequrity-ai/agentdojo-benchmark.git
